/**
 *  General feature styles
 */

.orangeText {
    color: rgba(255, 138, 28, 1);
}

p.sponsor {
    color: rgba(255, 138, 28, 1);
    font-size: 20px;
}

.divider {
    color: rgba(255, 255, 255, 1);
    width: 96%;
    margin-left: 2%;
}

.noPadding {
    padding: 0;
}

.headerPadding {
    padding-top: 1em;
    padding-right: 1em;
    padding-left: 1em;
}

.center {
    text-align: center;
}

.centered4Up {
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

p.largeParagraph {
    font-size: 1.6em;
}

/**
 *  Feature: Garage Sale
 */

.GarageSale {
    background-color: rgba(235, 246, 247, 1);
    padding-top: 1em;
    padding-bottom: 1em;
}

/**
 *  Feature: Putting for Paws
 */

.PuttingForPaws2023 {
    background-color: rgba(11, 55, 12, 1);
    color: rgba(255, 255, 255, 1);
    text-align: center;
}

@media (min-width: 992px) {
    /* Constrain the max size of the feature due to the 4-up layout */
    .PuttingForPaws2023 {
        max-width: 1070px !important;
    }
}

.PuttingForPaws2023 a {
    color: rgba(255, 255, 255, 1);
}

.PuttingForPaws2023 a.buttonBrown {
    background-color: rgba(94, 54, 29, 1);
    border-color: rgba(94, 54, 29, 1);
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}

.PuttingForPaws2023 a.buttonBrown:hover {
    text-decoration: underline;
}

/**
 *  Feature: Matching Donation Drive
 */

.FeatureMatchingDonationDrive .brownText {
    color: rgba(156, 101, 7, 1);
}

.FeatureMatchingDonationDrive {
    background: rgba(248, 249, 250, 1);
}

.FeatureMatchingDonationDrive h2 {
    border-bottom: 7px solid rgba(156, 101, 7, 1);
    padding-bottom: .5em;
    font-weight: bold;
}

.FeatureMatchingDonationDrive img {
    border: 7px solid rgba(156, 101, 7, 1);
    margin-bottom: .5em;
}

.FeatureMatchingDonationDrive a.buttonOrange {
    background-color: rgba(156, 101, 7, 1);
    border-color: rgba(156, 101, 7, 1);
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    margin-bottom: 1em;
}

.FeatureMatchingDonationDrive a.buttonOrange:hover {
    text-decoration: underline;
}

.FeatureMatchingDonationDrive .captionText {
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
}

/**
 *  Feature: Holiday Marketplace
 */

.FeatureHolidayMarketplace {
    background: rgba(235, 246, 247, 1);
}

.FeatureHolidayMarketplace .largeParagraph {
    color: rgba(123, 5, 39, 1);
    border-bottom: 3px solid rgba(123, 5, 39, 1);
    padding-bottom: 0;
    margin-bottom: 10px;
}

.FeatureHolidayMarketplace h2 {
    color: rgba(123, 5, 39, 1);
    padding-bottom: .5em;
    font-weight: bold;
}

.FeatureHolidayMarketplace img {
    border: 7px solid rgba(123, 5, 39, 1);
    margin-bottom: .5em;
}

.FeatureHolidayMarketplace a {
    text-decoration: none;
    margin-bottom: 1em;
}

.FeatureHolidayMarketplace a:hover {
    text-decoration: underline;
}