.uppercase {
  text-transform: uppercase;
}

.bold {
  font-weight: bold;
}

.grid-picture {
  border-color: rgba(49, 73, 127, 1);
  border-width: 1px;
}

.profileimage {
  display: block;
  position: relative;
  width: 100%;
}

.card {
  border: none;
  padding: 2px;
  border-radius: 0;
  color: rgba(49, 73, 127, 1);
}

.card img {
  border-radius: 0;
}

.cardBody {
  padding: 5px;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(49, 73, 127, 1);
}

.card:hover .cardBody {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(49, 73, 127, 1);
}

.cardTitle {
  position: relative;
  display: block;
  text-align: center;
  margin: 0;
  padding: .5em 0;
  text-transform: uppercase;
  font-weight: bold;
}

.cardTitle a {
  text-decoration: none;
}

.heartIconAbs {
  color: rgba(49, 73, 127, 1);
  display: block;
  position: absolute;
  top: -5px;
  right: 0px;
  height: 1.2em;
  width: 1.2em;
}

.heartIconFloat {
  color: rgba(49, 73, 127, 1);
  display: block;
  float: left;
  height: 1.2em;
  width: 1.2em;
  margin-right: .5em;
}

.profileList dt {
  background-color: rgba(248, 249, 250, 1);
  padding: 2px 5px;
}

.profileList dd {
  margin-left: 1em;
}

.filterForm {
  margin-bottom: 1em;
}

.feature h2 {
  color: rgba(49, 73, 127, 1);
  font-weight: bold;
}

.formSuccess {
  background-color: rgba(252, 248, 209, 1);
}

.formError {
  background-color: rgba(235, 246, 247, 1);
}